body {
  position: absolute;
}

#container-btn1 {
  padding-top: 200px;
}

.btn-container1 {
  display: flex;
  flex-direction: column;
  height: 30px;
}

.btn-1 {
  width: 200px;
  height: 100px;
  background-color: aqua;
}
.btn-2 {
  width: 200px;
  height: 100px;
  background-color: blueviolet;
}

.btn-3 {
  width: 200px;
  height: 100px;
  background-color: greenyellow;
}
.btn-4 {
  width: 200px;
  height: 100px;
}
.btn-5 {
  width: 200px;
  height: 100px;
}
.btn-6 {
  width: 200px;
  height: 100px;
}
.btn-7 {
  width: 200px;
  height: 100px;
}
.btn-8 {
  width: 200px;
  height: 100px;
}
